# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# Only need this because I am doing some weird stuff with danmcdade site.
node_modules
